/* PRINT */
body, section {
    padding: 0;
    background: white;
}

/* Header */
header {
    margin: 0;
    padding: 0; 
}

header img {
    height: 50px;
}

.uchile__header,
.header__nav,
.header__links {
    display: none;
}

/* Footer */
footer {
    display: none;
}

/* Portada */
.home__slider {
    border-top: 1px solid #33871d;
    padding: 10px 0 0;
    background: transparent;
    max-height: initial;
}

.home__slider .slider-med {
  width: 100%;
  float: none;
  max-height: initial;
}

.home__slider .slider-med .carousel-caption {
  max-width: 100%;
  bottom: 0;
  padding: 10px;
}

.home__activity .container .mod, .home__activity .mod, .home__education .mod,
.home__activity, .home__acts, .home__career, .home__departments, .home__education, .home__interest, .home__news {padding: 10px 0;}

.home__news .mod_last-news__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 20px;
}

.home__news .mod_last-news__item {
  width: auto;
  float: none;
}

.home__news .mod_last-news__img {padding: 0;}

.home__news .mod_last-news__item-title {width: 100%;}

.home__news .mod_last-news__item-title a {
  padding: 10px; 
  min-height: auto; 
}

.home__activity .mod-cal-date li {
    width: 100% !important; 
    margin-bottom: 10px;
}

.home__activity .mod-cal-date .mod__item .link-activity {padding: 0;}

.home__education .mod_last-courses ul {flex-direction: column;}

.home__education .mod_last-courses li {
  width: 100%;
  min-height: 80px;
  margin-bottom: 10px;
}

.home__career {background: transparent;}

.home__news .mod__title,
.home__activity .mod__title,
.home__education .mod__title,
.home__career .home__sections-title h2,
.home__acts h2,
.home__sections-title h2,
.home__interest .mod__title { 
  padding: 0 0 20px; 
}

.home__career .home__sections-title h2,
.home__departments .home__sections-title h2{
  color: #132957;
  text-shadow: none;
}

.home__career .mod { 
  margin-bottom: 20px;
  padding: 0;
}

.home__career .two-col, .home__acts li { width: 100%; }

.home__acts li {margin-bottom: 10px;}

.home__acts li a {
  width: 100%;
  height: auto;
  padding: 3% 0;
}

.home__acts li:nth-child(2) {
  margin-left: 0;
  margin-right: 0; 
  transform: scale(1); 
}

.home__acts a[target="_blank"]:after {content: none;}

.home__departments {background: transparent;}

.home__departments ul li {
  width: 100%;
  float: none;
  margin-bottom: 10px;
}

.home__departments ul li a {
  background: #fff;
  border: 2px solid #DB7B2E;
  display: block;
  min-height: 40px;
  padding: 10px 0; 
}

.home__departments ul li:nth-child(3n+2) {
  margin-left: 0;
  margin-right: 0;
}

/* SUbportadas */
.subp__banner {
  background: transparent;
}

.subp__complete-component .container .mod {
  padding: 30px 0; 
}

.subp__banner .mod__aside_header {width: 100%;}

.subp__banner .mod__aside_header img {
  position: initial;
}

.subp__banner .mod__aside_footer {
  width: 100%;
  padding: 10px 0 0;
}

.subp__banner .mod__aside_footer:after,
.subp__banner .mod__aside_footer p:after,
.subp__complete-component .container .mod.separador:before {content: none;}

.subp__full-bg {
  padding: 30px 0;
}

.subp__complete-component .container .mod.separador+.mod,
.subp__complete-component .container .mod.separador-verde+.mod {
  padding-top: 30px;
}

.subp__full-bg .container .mod {
  padding: 0;
}

.subp__full-bg.bg-green-light {
  background: transparent;
}

.subp__complete-component .container .mod.separador,
.subp__full-bg.bg-green-light .container .subp__title,
.subp__complete-component .container .mod__titles {
  margin-bottom: 20px;
}

.subported .mod a.boton,
.subported .mod a.boton-verde,
.subp__complete-component.bg-blue-gradient {mix-blend-mode: luminosity;}





.subported iframe,
.home__slider .bx-pager-med,
.home__slider .bx-wrapper .bx-pager,
.home__slider .bx-wrapper .bx-controls-direction,
.home .mod__more a,
.home__acts li .imagen-cifras,
.home__careers,
.section__media .mod_content .mod__aside_header,
.content__header>*:after,
.content__aside,
.content__tools .subir,
.content__tools .herramientas-redes_compartir .texto_compartir,
.addthis_inline_share_toolbox {
    display: none;
}
.content__tools {
    padding: 0;
    background-color: #ffffff;
}
.content__header>* {
    background: #2c2c2c;
    padding-right: 20px;
}
.content__related ul {
    width: calc(100% / 2 - 15px);
}
